{
  "root": true,
  "extends": [
      "plugin:vue/essential",
      "google",
      "eslint:recommended"
  ],
  "env": {
      "node": true
  },
  "rules": {
      "object-curly-spacing": [ "error", "always" ],
      "require-jsdoc": "off",
      "indent": [ "error", 2, { "SwitchCase": 1 } ],
      "max-len": [ "error", 120 ],
      "no-unused-vars": [ "error", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" } ],
      "valid-jsdoc": "off",
      "quotes": [ "double", 2]
  },
  "parserOptions": {
      "parser": "babel-eslint"
  }
}